body {
    margin: 0 auto;
    padding: 0 auto;
}

* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

/* Редактирование блоков */

.faq {
    max-width: 1200px;
    margin: 20px auto;
}

.faq-item {
    border-bottom: 1px solid #000 ;
}

.faq-title {
    display: block;
    cursor: pointer;
}

.faq-input {
    appearance: none;
}

.mem {
    display: none;
    align-items: center;
}

.mem img {
    max-width: 500px;
    display: flex;
    justify-content: center;
}